.section3 {
  background-color: lighten(map-get($colors, color3), 42%);
  margin: 0 auto;

  #border {
    padding-left: 15px;
    padding-right: 15px;

    .border {
      margin-bottom: 5%;
      padding: 0;

      .border_price {
        height: 3px;
        background-color:map-get($colors, color4);
        width:0;
      }

    }
  }

  .row {
    position: relative;

    [class*="col-"] {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2%;
      h4 {
        margin-top: 5%;
        margin-bottom: 0;
        padding-bottom: 3px;
        text-transform: uppercase;
        font-weight: 500;
        width: 100%;
        border-bottom: 3px solid map-get($colors, color4);
      }

      [class*="circle_big"] {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;


        [class*="circle_small"] {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      [class*="box_"] {
        margin: 0 auto;
        width: 100%;
        height: auto;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        margin-top: 10%;

        h3 {
          text-transform: uppercase;
          font-weight: 600;
          border-bottom: none;
          margin-top: 20%;
          text-align: center;
          margin-bottom: 15%;
        }

        [class*="price_circle"] {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          p {
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 2%;
            border-bottom: none;
          }

          h2 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 0;
          }
        }
        //ending .price_circle
        [class*="plan_"] {
          width: 100%;
          height: 20%;
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          align-items: center;
          padding: 3%;

          p {
            font-size: 18px;
            margin-bottom: 0;
          }
        }
        //ending .plan_
        [class*="plan_1"] {
          margin-top: 10%;
        }

        [class*="plan_4"] {
          margin-bottom: 15%;
        }

        a.btn {
          width: 40%;
          text-align: center;
          margin-bottom: 8%;
          text-transform: uppercase;
        }
      }
      //ending .price_
    }
    //ending .col-
  }
  //ending .row
}
//ending .section3
@media (min-width: 760px) {
  .section3 {
    #border {
      .border_prices {
        border-bottom: 4%;
      }
    }
    //ending .row
  }
  //ending .section3
}
@media (min-width: 700px) and (max-width:993px) {
  .section3 {
    .row {
      h4 {
        font-size: 24px;
      }

      [class*="col-"] {
        [class*="circle_big_"] {
          width: 130px;
          height: 130px;
          top: -7%;

          [class*="circle_small_"] {
            width: 65px;
            height: 65px;
          }
        }

        [class*="box_"] {
          h3 {
            font-size: 30px;
            margin-bottom: 5%;
          }

          [class*="price_circle"] {
            width: 140px;
            height: 140px;

            p {
              font-size: 20px;
            }

            h2 {
              font-size: 30px;
            }
          }

          [class*="plan_"] {
            p {
              font-size: 20px;
            }
          }

          a.btn {
            font-size: 20px;
          }
        }
      }
    }
  }
}
